@import './settings';

.sui-Autocompleted {
  position: relative;
  width: 100%;

  &-input {
    font-size: $fz-body;
    font-weight: bold;
    padding: $p-base;
    width: 100%;
  }

  &-clear {
    cursor: pointer;

    &::after {
      content: 'X';
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }

  &-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
  }

  &-item {
    cursor: pointer;
    font-size: $fz-base;
    margin: 0;
    padding: $p-base * 1.25;

    &:nth-child(odd) {
      background: $primary-color;
    }

    &:nth-child(even) {
      background: $secundary-color;
    }

    &--active {
      &:nth-child(odd) {
        background: $selected-color;
      }

      &:nth-child(even) {
        background: $selected-color;
      }
    }
  }

  &-section {
    font-size: $fz-base;
    margin: 0;
    padding: $p-base * 1.25;
  }

  &-suggestion {
    display: inline-block;

    > .sui-Autocompleted-item {
      background: none;
      display: inline-block;
      list-style-type: none;
      padding: 3px 10px;

      &--active {
        border-bottom: 1px solid $selected-color;
      }

      &::after {
        content: '|';
        padding-left: 16px;
      }

      &:last-child::after {
        content: '';
      }
    }
  }
}
