@import './settings';

.sui-Autocompleted {
  position: relative;
  width: 100%;
}

.sui-Autocompleted-input {
  font-size: $fz-body;
  font-weight: bold;
  padding: $p-base;
  width: 100%;
}

.sui-Autocompleted-clear {
  &::after {
    content: 'X';
    position: absolute;
    right: 20px;
    top: 15px;
  }
}

.sui-Autocompleted-results {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.sui-Autocompleted-item {
  font-size: $fz-base;
  margin: 0;
  padding: $p-base * 1.25;

  &:nth-child(odd) {
    background: $primary-color;
  }

  &:nth-child(even) {
    background: $secundary-color;
  }

  &--active {
    &:nth-child(odd) {
      background: $selected-color;
    }

    &:nth-child(even) {
      background: $selected-color;
    }
  }
}

